{% extends "hiv_dashboard/base.html" %}
{% load staticfiles %}
{% load hiv_dashboard_filters %}
	    
{% block content %}

<script>

</script>

<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.percent.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/extensions/TableTools/js/dataTables.tableTools.js'%}"></script>

  <style type="text/css" title="currentStyle">
    @import "{% static 'js/DataTables-1.10.0/extensions/TableTools/css/dataTables.tableTools.css'%}";
    @import "{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.css' %}";
  </style>


<script type="text/javascript">
  function download_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_get_defaulter_list';
      form.submit();
  }

  function view_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_by_range';
      form.submit();
  }



  $(document).ready(function() {

  $('#system_indicators').dataTable( {
  "sScrollY": "100px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false,
} );


  $('#clinic_indicators').dataTable( {
  "sScrollY": "200px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false,
  "sDom": '<"clear">Tlfrtip',
  "oTableTools": {
        "sSwfPath": "{% static 'js/DataTables-1.10.0/extensions/TableTools/swf/copy_csv_xls_pdf.swf'%}",
        "aButtons": [
             {
                "sExtends": "xls",
                "sButtonText": " Excel ",
                "oSelectorOpts": {
                    page: 'current'
                }
            },
             {
                "sExtends": "pdf",
                "sButtonText": " pdf ",
                "oSelectorOpts": {
                    page: 'current'
                }
            },  
            {
                "sExtends": "copy",
                "sButtonText": "Copy to clipboard",
                "oSelectorOpts": {
                    page: 'current'
                }
            }
        ]
  }



  } ).columnFilter({sPlaceHolder:"head:after",
                                        aoColumns:[{type:"select"},null,{type:"select"}]});




  $("#ltfu_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#by_clinic_start_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#by_clinic_end_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );

  $("#by_month_start_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#by_month_end_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );


     

  });


</script>
<h3>Key Indicators Stratified by Clinic</h3>
<b>Period: {{start_date}} to {{end_date}}</b>
<table id='clinic_indicators'>
  <thead>
    <tr>
      <th>clinic</th>
      <th># encounters</th>
      <th># patients</th>
      <th># started ARVs</th>      
      <th># on ARVs</th>
      <th># of CD4s reported</th>
      <th># VLs reported</th>
      <th># VLs &#60; 1000</th>
      <th># of deaths</th>
    </tr>
  </thead> 
  <tbody>
    {% for row in clinic_indicators %}    
    <tr>      
      <td>{{row.clinic}}</td>
      <td>{{row.num_encounters}}</td>
      <td>{{row.num_patients}}</td>
      <td>{{row.num_started_on_arvs}}</td>
      <td>{{row.on_arvs}}</td>
      <td>{{row.num_cd4s}}</td>
      <td>{{row.num_vls}}</td>
      <td>{{row.num_vl_suppressed}}</td>
      <td>{{row.num_deaths}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<h3>Control Panel</h3>
<table>
  <tr>
    <td><a href='/hiv_dashboard/index'>Return to HIV Care home</a></td>
  </tr>
  <tr>
    <td>
      <form action='/hiv_dashboard/view_indicators_by_clinic' method='post'> {% csrf_token %}
	<table>
	  <tr>      
	    <td><b>View Indicators for a time periond stratified by clinic:</b></td>
	    <td>Start Date:</td>
	    <td><input type='text' name='start_date' id='by_clinic_start_date'/></td>
	    <td>End Date:</td>
	    <td><input type='text' name='end_date' id='by_clinic_end_date'/></td>
	    <td><input type='submit'/></td>
	  </tr>
	</table>
      </form>
    </td>
  <tr>    
    <td>
      <form action='/hiv_dashboard/view_indicators_by_month' method='post'> {% csrf_token %}
	<table>
	  <tr>
	    <td><b>View Clinic Indicators Stratified By Month:</b></td>
	    <td>
	      <select name='location_id'>
		<option></option>
		{% for location in locations %}
		<option value={{location.location_id}}>{{location.name}}</option>
		{%endfor%}
	      </select>
	    <td>Start Date:</td>
	    <td><input type='text' name='start_date' id='by_month_start_date'/></td>
	    <td>End Date:</td>
	    <td><input type='text' name='end_date' id='by_month_end_date'/></td>
	    <td><input type='submit'/></td>
	  </tr>
	</table>
      </form>
    </td>
  </tr>
</table>


<hr>


{% endblock %}
