{% extends "amrs_user_validation/base.html" %}


{% block content %}

<script type="text/javascript">
  $(document).ready(function() {

  $('#report_tables').dataTable( {
  "sScrollY": "250px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false } );

  $('#reports').dataTable( {
  "sScrollY": "100px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false } );

  } );

</script>

<h3>{% if messages %} <ul>{% for m in messages%}<li>m</li>{%endfor%}</ul> {%endif%}</h3>
<hr>

<h3>Create new user:</h3>
<form method='post' action='/amrs_user_validation/create_amrs_user'>
  {%csrf_token%}
  <table>
    <tr>      
      <td>First Name: </td><td><input type='text' name='first_name' value='{{args.first_name}}'/></td>
    </tr>
    <tr>      
      <td>Last Name: </td><td><input type='text' name='last_name' value='{{args.last_name}}'/></td>
    </tr>
    <tr>      
      <td>Username: </td><td><input type='text' name='username'/></td>
    </tr>
    <tr>
      <td>Password: </td><td><input type='password' name='password'/></td>
    </tr>
    <tr>
      <td>Retype Password: </td><td><input type='password' name='password2'/></td>
    </tr>
    <tr>
      <td>Role: </td>
      <td>
	<select name='role_type_id'>
	  <option></option>
	  {% for role_type in role_types %}
	  <option value='{{role_type.id}}' {%if role_type_id == role_type.id%}selected{%endif%}>{{role_type.name}}</option>
	  {% endfor %}
	</select>
    </tr>
    <tr>
      <td>Location Privileges</td>
      <td>
	<select name='location_privilege_ids' multiple>
	  <option value='-1' {%if -1 in location_privilege_ids%}selected{%endif%}>All Locations</option>
	  {%for location in locations %}
	  <option value='{{location.location_id}}'>{{location.name}}</option>
	  {%endfor%}
	</select>
    <tr>
      <td><input type='submit' value='Create user'/></td><td></td>
    </tr>

  </table>
</form>


{% endblock %}
