{% extends "amrs_user_validation/base.html" %}


{% block content %}

<script type="text/javascript">
  $(document).ready(function() {

  $('#report_tables').dataTable( {
  "sScrollY": "250px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false } );

  $('#reports').dataTable( {
  "sScrollY": "100px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false } );

  } );

</script>
<h2>Manage Users<h2>
<ul>
  <li><a href='/amrs_user_validation/create_amrs_user'>Create new user</a></li>
  <li><a href='/amrs_user_validation/manage_amrs_users'>Manage users</a></li>
</ul>


<h2>Manage Roles<h2>
<ul>
  <li><a href='/amrs_user_validation/manage_role_types'>Manage Role Types</a></li>
  <li><a href='/amrs_user_validation/manage_roles'>Manage User Roles</a></li>
</ul>




{% endblock %}
