{% extends "amrs_user_validation/base.html" %}


{% block content %}

<form method='post' action='/amrs_user_validation/login' id="login_form">
  {%csrf_token%}
  <table>
    <tr>
      <td>Login: </td><td><input type='text' name='username'/></td>
    </tr>
    <tr>
      <td>Password: </td><td><input type='password' name='password'/></td>
    </tr>
    <tr>
      <td><input type='button' value='Login' onClick="javascript:document.getElementById('login_form').submit()"/></td><td></td>
    </tr>
  </table>
</form>

<hr/>
<b>Desktop Version 1.0</b>
{% endblock %}
