{% extends "ltfu/base.html" %}
{% load staticfiles %}
{% load ltfu_filters %}

{% block content %}

<script>

</script>

<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.percent.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/extensions/TableTools/js/dataTables.tableTools.js'%}"></script>

  <style type="text/css" title="currentStyle">
    @import "{% static 'js/DataTables-1.10.0/extensions/TableTools/css/dataTables.tableTools.css'%}";
    @import "{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.css' %}";
  </style>


<script type="text/javascript">
  function download_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_get_defaulter_list';
      form.submit();
  }

  function view_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_by_range';
      form.submit();
  }



  function download_ltfu_list() {
      var form = document.getElementById('ltfu_list_form');
      form.action = '/ltfu/download_ltfu_list';
      form.submit();
  }

  function view_ltfu_list() {
      var form = document.getElementById('ltfu_list_form');
      form.action = '/ltfu/view_ltfu_list';
      form.submit();
  }



  $(document).ready(function() {

  $('#system_indicators').dataTable( {
  "sScrollY": "100px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false,
  "footerCallback": function ( row, data, start, end, display ) {
       var cs = [2,4,8];
       for(var item in cs) {
            var index = cs[item];
            var api = this.api();
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over all pages
            var total = api
                .column( index )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                } );
 
            // Total over this page
            var pageTotal = api
                .column( index, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                } );
            var s = ''
            if(pageTotal == total) {
                s = total;
            }
            else { s = pageTotal +' ('+ total +')'; }
            // Update footer
            $( api.column( index ).footer() ).html(s);
        }  
     }
} );


  $('#clinic_indicators').dataTable( {
  "sScrollY": "200px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false,
  "sDom": '<"clear">Tlfrtip',
  "oTableTools": {
        "sSwfPath": "{% static 'js/DataTables-1.10.0/extensions/TableTools/swf/copy_csv_xls_pdf.swf'%}",
        "aButtons": [
             {
                "sExtends": "xls",
                "sButtonText": " Excel ",
                "oSelectorOpts": {
                    page: 'current'
                }
            },
             {
                "sExtends": "pdf",
                "sButtonText": " pdf ",
                "oSelectorOpts": {
                    page: 'current'
                }
            },  
            {
                "sExtends": "copy",
                "sButtonText": "Copy to clipboard",
                "oSelectorOpts": {
                    page: 'current'
                }
            }
        ]
  }



  } ).columnFilter({sPlaceHolder:"head:after",
                                        aoColumns:[{type:"select"},null,{type:"select"}]});


  $('#defaulters_by_clinic').dataTable( {
  "sScrollY": "150px",
  "columnDefs": [{"targets":2,"type":"percent"}],  
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false } );


  $("#start_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#end_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#ltfu_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#system_performance_start_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#system_performance_end_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );

  $("#start_date_provider_indicators").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#end_date_provider_indicators").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );


     

  });


</script>

<h3>Retention Control Panel</h3>
<ul>
  <li><a href='/ltfu/update_cohorts'>Update defaulter cohorts</a></li>
  <li> <b>Identify patients who missed their last appointment</b>
    <form action='/ltfu/ltfu_by_range' method='post' id='defaulter_list_form'> {% csrf_token %}
    <table>
      <tr>
	<td>Clinic:</td>
	<td>
	  <select name='location_id'>
	    <option></option>
	    {% for location in locations %}
	    <option value='{{location.location_id}}'>{{location.name}}</option>
	    {% endfor %}
	  </select>
	  <br/>or<br/>
	  <select name='location_group_id'>
	    <option></option>
	    {% for g in location_groups %}
	    <option value='{{g.id}}'>{{g.name}}</option>
	    {%endfor%}
	  </select>
	</td>
	 <td>start range high risk:</td>
	 <td><input type='text' name='start_range_high_risk' value='8' size='1'/></td>
	<td>start range:</td>
	<td><input type='text' name='start_range' value='30' size='1'/></td>
	<td>end range:</td>
	<td><input type='text' name='end_range' value='89' size='1'/></td>
	<td>Limit to:</td>
	<td><input type='text' name='limit' size='1'/></td>
	<td><input type='button' onClick='download_defaulter_list()' value='Download List'/></td>
	<td><input type='button' onClick='view_defaulter_list()'  value='View'/></td>
      </tr>	  
    </table>
    </form>
  </li>


  <li> <b>CREATE LTFU (ON ARVS) LIST</b>
    <form action='/ltfu/ltfu_by_range' method='post' id='ltfu_list_form'> {% csrf_token %}
    <table>
      <tr>
	<td>Clinic:</td>
	<td>
	  <select name='location_id'>
	    <option></option>
	    {% for location in locations %}
	    <option value='{{location.location_id}}'>{{location.name}}</option>
	    {% endfor %}
	  </select>
	  <br/>or<br/>
	  <select name='location_group_id'>
	    <option></option>
	    {% for g in location_groups %}
	    <option value='{{g.id}}'>{{g.name}}</option>
	    {%endfor%}
	  </select>
	</td>
	<td>Limit to:</td>
	<td><input type='text' name='limit' size='1'/></td>
	<td><input type='button' onClick='download_ltfu_list()' value='Download List'/></td>
      </tr>	  
    </table>
    </form>
  </li>

<hr/>
  <li><b>View Indicators Stratified By Clinic</b>
    <form action='/ltfu/view_indicators_by_clinic' method='post'> {% csrf_token %}
    <table>
      <tr>
	<td>Start Date:</td>
	<td><input type='text' name='start_date' id='system_performance_start_date'/></td>
	<td>End Date:</td>
	<td><input type='text' name='end_date' id='system_performance_end_date'/></td>
	<td><input type='submit'/></td>
      </tr>	  
    </table>
    </form>
  </li>

  <li><b>View Indicators Stratified By Provider</b>
    <form action='/ltfu/view_indicators_by_provider' method='post'> {% csrf_token %}
    <table>
      <tr>
	<td>Start Date:</td>
	<td><input type='text' name='start_date' id='start_date_provider_indicators'/></td>
	<td>End Date:</td>
	<td><input type='text' name='end_date' id='end_date_provider_indicators'/></td>
	<td><input type='submit'/></td>
      </tr>	  
    </table>
    </form>

  </li>
  <li><b>View Reasons Appt Missed</b>
    <form action='/ltfu/view_reason_missed_appt' method='post' id='reason_missed_appt_form'> 
      {% csrf_token %}
      <table>
	<tr>
	  <td>start date</td>
	  <td><input type='text' name='start_date' value='{{start_date}}'/></td>
	  <td>end date:</td>
	  <td><input type='text' name='end_date' value='{{end_date}}'/></td>
	  <td>location_ids</td>
	  <td><input type='text' name='location_ids' value='{{location_ids}}'/></td>
	  <td><input type='submit'></td>
	</tr>	  
      </table>
    </form>  
  </li>

<!--
  <li><b>View Monthly Clinic Performance</b>
    <form action='/ltfu/view_clinic_indicators' method='post'> {% csrf_token %}
    <table>
      <tr>
	<td>Clinic:</td>
	<td>
	  <select name='location_id'>
	    {% for location in locations %}
	    <option value='{{location.location_id}}'>{{location.name}}</option>
	    {% endfor %}
	  </select>
	</td>
      </tr>	  
    </table>
    </form>

  </li>
  <li> <b>View Outreach Worker Performance</b>
    <form action='/ltfu/view_outreach_worker_performance' method='post'>
      <table>
	<tr>
	  <td>Outreach Worker</td>
	  <td>
	    <select name='provider_id'>
	      {% for provider in providers%}
	      <option value='{{provider.provider_id}}'>{{provider.family_name}}, {{provider.given_name}}</option>
	      {% endfor %}
	    </select>
	  </td>
	  <td>
	    <input type='submit'/>
	  </td>
	</tr>
      </table>
    </form>
  </li>
-->
  <li><a href='/ltfu/view_outreach_worker_forms_done'>View outreach worker forms done in past 7 days</a></li>
  <li><a href='/ltfu/view_data_entry_forms_done'>View data entry forms done in past 7 days</a></li>
  <li><a href='/ltfu/view_data_entry_stats'>View data entry stats</a></li>
</ul>

<hr>

<h3>Key System Indicators</h3>
<table id='system_indicators'>
  <thead>
    <tr>
      <th>year</th>
      <th>month</th>
      <th># of forms </th>
      <th>forms / day </th>
      <th># patients <br/>
	  followed up</th>
      <th># being traced</th>
      <th>% found</th>
      <th>% reached <br/>
	  by phone</th>
      <th># hiv+, not dead</th>
      <th>rtc rate, overall</th>
      <th>rtc rate, <br/>
          due to return</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>year</th>
      <th>month</th>
      <th># of forms </th>
      <th>forms / day </th>
      <th># patients <br/>
	  followed up</th>
      <th># being traced</th>
      <th>% found</th>
      <th>% reached <br/>
	  by phone</th>
      <th># hiv+, not dead</th>
      <th>rtc rate, overall</th>
      <th>rtc rate, <br/>
          due to return</th>
    </tr>
  </tfoot>
  <tbody>
    {% for row in system_indicators %}    
    <tr>      
      <td>{{row.year}}</td>
      <td>{{row.month}}</td>
      <td>{{row|get:'# of forms'}}</td>
      <td>{{row|get:'forms / day'|floatformat:1}}</td>
      <td>{{row|get:'# patients followed-up'}}</td>
      <td>{{row|get:'# being traced'}}</td>
      <td>{{row|get:'perc found'|make_percent:1}}</td>
      <td>{{row|get:'perc reached by phone'|make_percent:1}}</td>
      <td>{{row|get:'# followed up, not dead, HIV+'}}</td>
      <td>{{row|get:'RTC rate, overall'|make_percent:1}}</td>
      <td>{{row|get:'RTC rate, due to return'|make_percent:1}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<hr>


<h3>Key Indicators By Clinic</h3>
<table id='clinic_indicators'>
  <thead>
    <tr>
      <th>Clinic</th>
      <th>year</th>
      <th>month</th>
      <th># of forms </th>
      <th>forms / day </th>
      <th># patients <br/>
	  followed up</th>
      <th># being traced</th>
      <th>% found</th>
      <th>% reached <br/>
	  by phone</th>
      <th># hiv+, <br/>
          not dead</th>
      <th>rtc rate, overall</th>
      <th>rtc rate, <br/>
          due to return</th>
    </tr>
  </thead>
  <tfoot>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tfoot>
 <tbody>
    {% for row in clinic_indicators %}    
    <tr>
      <td>{{row.clinic}}</td>
      <td>{{row.year}}</td>
      <td>{{row.month}}</td>
      <td>{{row|get:'# of forms'}}</td>
      <td>{{row|get:'forms / day'|floatformat:1}}</td>
      <td>{{row|get:'# patients followed-up'}}</td>
      <td>{{row|get:'# being traced'}}</td>
      <td>{{row|get:'perc found'|make_percent:1}}</td>
      <td>{{row|get:'perc reached by phone'|make_percent:1}}</td>
      <td>{{row|get:'# followed up, not dead, HIV+'}}</td>
      <td>{{row|get:'RTC rate, overall'|make_percent:1}}</td>
      <td>{{row|get:'RTC rate, due to return'|make_percent:1}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<hr>

<h3>Current Defaulter Totals</h3>
<table id='defaulters_by_clinic'>
  <thead>
    <tr>
      <td>Clinic</td>      
      <td># defaulting</td>
      <td>% on list > 2 weeks</td>
    </tr>
  </thead>
  <tbody>
    {% for row in defaulters_by_clinic %}
    <tr>
      <td>{{row.clinic}}</td>
      <td>{{row|get:'requiring_follow_up'}}</td>
      <td>{{row|get:'on_list_gt_2_week' | percentage:row.requiring_follow_up}}</td>
    </tr>
    {%endfor%}    
  </tbody>
</table>
  
<hr>

{% endblock %}
