{% extends "ltfu/base.html" %}
{% load staticfiles %}
{% load ltfu_filters %}

{% block content %}

<script type="text/javascript">
  function download_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_get_defaulter_list';
      form.submit();
  }

  function view_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_by_range';
      form.submit();
  }

  $(document).ready(function() {

  jQuery.fn.dataTableExt.oSort['pct-asc']  = function(x,y) {
    x = parseFloat(x);
    y = parseFloat(y);
     
    return ((x < y) ? -1 : ((x > y) ?  1 : 0));
  };
  
  jQuery.fn.dataTableExt.oSort['pct-desc'] = function(x,y) {
      x = parseFloat(x);
      y = parseFloat(y);
     
      return ((x < y) ?  1 : ((x > y) ? -1 : 0));
  };

  $('#key_indicators').dataTable( {
  "sScrollY": "150px",
  "aaSorting" : [[0,"asc"]],
  "aaColumns" : [null,null,null,null,null,null,null],
  "aoColumnDefs" : [{"sType":"pct","aTargets":[6]}],
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth": false } );



  $("#ltfu_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#system_performance_start_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#system_performance_end_date").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );

  $("#start_date_provider_indicators").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );
  $("#end_date_provider_indicators").datepicker({dateFormat: 'yy-mm-dd', changeMonth:true,changeYear:true} );



  });


</script>

<br/>
<!--
<table id='key_indicators'>
  <thead>
    <tr>
      <td>Clinic</td>
      <td>Total</td>      
      <td>Total pre-LTFU</td>
      <td>LTFU</td>
      <td>Untraceable</td>
    </tr>
  </thead>
  <tbody>
    {% for row in key_indicators %}
    <tr>
      <td><a href='ltfu_by_range?location_id={{row.location_id}}'>{{row.name}}</a></td>
      <td>{{row.total}}</td>
      <td>{{row.num_pre_ltfu}}</td>
      <td>{{row.num_ltfu}}</td>
      <td>{{row.num_untraceable}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
-->
<table id='key_indicators'>
  <thead>
    <tr>
      <td>Clinic</td>
      {% for period in ltfu_periods%}
      <td>{{period}}</td>
      {%endfor%}
      <td>Total Change</td>
    </tr>
  </thead>
  <tbody>
    {% for clinic,ltfu in ltfu_by_clinic.iteritems %}    
    <tr>      
      <td>{{clinic}}</td>
      {% for period in ltfu_periods%}
      {% with period|add:'_diff' as period_diff %}
      {% with ltfu|get_from_dict:period as num_ltfu%}
      <td>{{num_ltfu}} {%if ltfu|get_from_dict:period_diff %}({{ltfu|get_from_dict:period_diff}} | {{ltfu|get_from_dict:period_diff|percentage:num_ltfu}}){%endif%}</td>
      {%endwith%}
      {%endwith%}
      {%endfor%}

      {% with ltfu|get_from_dict:'initial_period' as initial_period%}
      {% with ltfu|get_from_dict:initial_period as initial_ltfu%}      
      {% with ltfu|get_from_dict:'final_period' as final_period%}
      {% with ltfu|get_from_dict:final_period as final_ltfu%}
      <td>{{final_ltfu|get_percentage_difference:initial_ltfu}}</td>
      {%endwith%}
      {%endwith%}
      {%endwith%}
      {%endwith%}
      
    </tr>
    {% endfor %}
  </tbody>
</table>
  
  

<ul>
  <li> <b>Identify patients who missed their last appointment</b>
    <form action='/ltfu/ltfu_by_range' method='post' id='defaulter_list_form'> {% csrf_token %}
    <table>
      <tr>
	<td>Clinic:</td>
	<td>
	  <select name='location_id'>
	    <option></option>
	    {% for location in locations %}
	    <option value='{{location.location_id}}'>{{location.name}}</option>
	    {% endfor %}
	  </select>
	  <br/>or<br/>
	  <select name='location_group_id'>
	    <option></option>
	    {% for g in location_groups %}
	    <option value='{{g.id}}'>{{g.name}}</option>
	    {%endfor%}
	  </select>
	</td>
	 <td>start range high risk:</td>
	 <td><input type='text' name='start_range_high_risk' value='8' size='1'/></td>
	<td>start range:</td>
	<td><input type='text' name='start_range' value='30' size='1'/></td>
	<td>end range:</td>
	<td><input type='text' name='end_range' value='89' size='1'/></td>
	<td>Limit to:</td>
	<td><input type='text' name='limit' size='1'/></td>
	<td><input type='button' onClick='download_defaulter_list()' value='Download List'/></td>
	<td><input type='button' onClick='view_defaulter_list()'  value='View'/></td>
      </tr>	  
    </table>
    </form>
  </li>
  <li><b>View Indicators Stratified By Clinic</b>
    <form action='/ltfu/view_indicators_by_clinic' method='post'> {% csrf_token %}
    <table>
      <tr>
	<td>Start Date:</td>
	<td><input type='text' name='start_date' id='system_performance_start_date'/></td>
	<td>End Date:</td>
	<td><input type='text' name='end_date' id='system_performance_end_date'/></td>
	<td><input type='submit'/></td>
      </tr>	  
    </table>
    </form>

  </li>

  <li><b>View Indicators Stratified By Provider</b>
    <form action='/ltfu/view_indicators_by_provider' method='post'> {% csrf_token %}
    <table>
      <tr>
	<td>Start Date:</td>
	<td><input type='text' name='start_date' id='start_date_provider_indicators'/></td>
	<td>End Date:</td>
	<td><input type='text' name='end_date' id='end_date_provider_indicators'/></td>
	<td><input type='submit'/></td>
      </tr>	  
    </table>
    </form>

  </li>

<!--
  <li><b>View Monthly Clinic Performance</b>
    <form action='/ltfu/view_clinic_indicators' method='post'> {% csrf_token %}
    <table>
      <tr>
	<td>Clinic:</td>
	<td>
	  <select name='location_id'>
	    {% for location in locations %}
	    <option value='{{location.location_id}}'>{{location.name}}</option>
	    {% endfor %}
	  </select>
	</td>
      </tr>	  
    </table>
    </form>

  </li>
  <li> <b>View Outreach Worker Performance</b>
    <form action='/ltfu/view_outreach_worker_performance' method='post'>
      <table>
	<tr>
	  <td>Outreach Worker</td>
	  <td>
	    <select name='provider_id'>
	      {% for provider in providers%}
	      <option value='{{provider.provider_id}}'>{{provider.family_name}}, {{provider.given_name}}</option>
	      {% endfor %}
	    </select>
	  </td>
	  <td>
	    <input type='submit'/>
	  </td>
	</tr>
      </table>
    </form>
  </li>
-->
  <li><a href='/ltfu/view_outreach_worker_forms_done'>View outreach worker forms done in past 7 days</a></li>
    
</ul>

{% endblock %}
