{% extends "ltfu/base.html" %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.js'%}"></script>
  <style type="text/css" title="currentStyle">
    @import "{% static 'js/DataTables-1.10.0/extensions/TableTools/css/dataTables.tableTools.css'%}";
    @import "{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.css' %}";
  </style>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/extensions/FixedColumns/js/dataTables.fixedColumns.min.js'%}"></script>


<script type="text/javascript">


$(document).ready(function() {

  var table = $('#report').dataTable( {
  "width":"100%",
  "sScrollY": "250px",
  "scrollX": true,
  "scrollCollapse": true,
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth" : true,
  });


});

function view_defaulter_list() {
  var select = document.getElementById('defaulter_list_select');
  var value = select.options[select.selectedIndex].value;
  var link = '/ltfu/outreach_worker_defaulter_list?defaulter_cohort_uuid=' + value;
  if(value != '') {
      window.location = link;
  }
  else { alert('You must first select a clinic'); }
}


</script>

<br/>
<a href='/ltfu/outreach_worker'>Return to Outreach Dashboard</a><br/>
<br/>
<form>
  Outreach Defaulter List:
  <select name='defaulter_cohort_uuid' id='defaulter_list_select'>
    <option/>
    {% for dc in defaulter_cohorts %}
    <option value='{{dc.cohort_uuid}}'>{{dc.name}}</option>
    {%endfor%}
  </select>
  <input type='button' onClick='view_defaulter_list()' value='Go!'/></td>
</form>
  


<h3>Real Time Data Entry : {{location.name}} Defaulter List</h3>
Cohort Last Updated: {{defaulter_cohort.date_updated}}
<table id='report' class="displays">
  <thead>
    <tr>
	<th></th>
	<th>Name</th>
	<th>AMRS ID</th>
	<th>Phone Number</th>
	<th>Risk Cat</th>
	<th>last enc date</th>
	<th>enc type</th>
	<th>rtc date</th>
	<th>days from rtc date</th>
    </tr>
  </thead>
 
  <tbody>
    {% for row in defaulter_list %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><a href='/ltfu/outreach_form?patient_uuid={{row.uuid}}&location_uuid={{location.uuid}}'>{{row.person_name}}</a></td>
      <td>{{row.identifier}}</td>
      <td>{{row.phone_number}}</td>
      <td>{{row.risk_category}}</td>
      <td>{{row.encounter_datetime}}</td>
      <td>{{row.name}}</td>
      <td>{% if row.rtc_date%} {{row.rtc_date}} {%endif%}</td>
      <td>{% if row.days_since_rtc %}{{row.days_since_rtc}} {%endif%}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>



{% endblock %}
