{% extends "ltfu/base_mobile.html" %}
{% load staticfiles %}
{% load ltfu_filters %}

{% block content %}

<script>
function viewClinic() {
  var clinic_uuid = $('#clinic_uuid').val();
  
  var link = 'https://testserver1.ampath.or.ke/ltfu/view_defaulter_cohort?location_uuid=' + clinic_uuid;
  if(clinic_uuid != '') {
      window.location = link;
  }
  else { alert('You must first select a clinic'); }
}


</script>

<h3>Outreach Worker Dashboard</h3>


<div class='ui-grid-b'>
  <div class='ui-block-a' style="width:100%">
    <label for='clinic_uuid'>View Defaulter List: </label>
  </div>
  <div class='ui-block-a' style="width:50%">
    <select name='clinic_uuid' id='clinic_uuid'>
      {% for l in clinics %}
      <option value='{{l.uuid}}'>{{l.name}}</option>
      {%endfor%}
    </select>
  </div>
  <div class='ui-block-b' style="width:50%">
    <input type='button' onClick='viewClinic()' value='Go!'/>
  </div>
</div>
<hr/>
<ul data-role="listview">
  <li><a href='https://testserver1.ampath.or.ke/ltfu/patient_search'>Patient Search</a></li>
</ul>
{% endblock %}
