{% extends "ltfu/base_mobile.html" %}
{% load staticfiles %}
{% load ltfu_filters %}

{% block content %}

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


  $(document).ready(function() {

			    
   var csrftoken = getCookie('csrftoken');
   $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
   });

   function patientSearch() {
        var d = {search_string:$("#search_string").val()};
        $.ajax({
        type: "POST",
        url: "/ltfu/ajax_patient_search",
        data: d,
        dataType: "json",
        success: OnSuccessPatientSearch,
        failure: function() {
            alert('failed');
        },
        error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
        });
   }



   function OnSuccessPatientSearch(response) { 
     $("#patient_list").empty();

     for(var i=0; i<response.length;i++) {
         var row =  response[i];
                      
         var html = "<li><a href='https://testserver1.ampath.or.ke/ltfu/view_patient?patient_uuid="+ row['uuid'] + "'>";
         html += row['family_name'] + ", " + row['given_name'] + " " + row['middle_name'] + "<br/>";        
         html += "Sex: " + row['gender'] + "; Birthdate: " + row['birthdate'] + "<br/>";
         html += "Identifier(s): " + row['identifier'];
         html += "</a></li>";
         $("#patient_list").append(html).listview("refresh");
     }
  }


   $('#search_string').on("keyup change",function() {
      patientSearch();
   });
					
     


});
</script>

<label for="search_string">Enter Patient Name or Identifier</label>
<input type='text' name='search_string' id='search_string'/>
<ul id="patient_list" data-role="listview"/>


<span id='error'></span>
{%endblock%}
