{% extends "ltfu/base.html" %}
{% load staticfiles %}
{% load ltfu_filters %}
{% block content %}

<script type="text/javascript" language="javascript" src="{% static 'js/flot/jquery.flot.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/extensions/TableTools/js/dataTables.tableTools.js'%}"></script>
  <style type="text/css" title="currentStyle">
    @import "{% static 'js/DataTables-1.10.0/extensions/TableTools/css/dataTables.tableTools.css'%}";
    @import "{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.css' %}";
  </style>

<script type="text/javascript">


  function download_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_get_defaulter_list';
      form.submit();
  }

  function view_defaulter_list() {
      var form = document.getElementById('defaulter_list_form');
      form.action = '/ltfu/ltfu_by_range';
      form.submit();
  }


$(document).ready(function() {

  $('#reason_missed_appt_table').dataTable( {
  "width":"100%",
  "sScrollY": "250px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "sDom": '<"clear">Tlfrtip',
  "oTableTools": {
        "sSwfPath": "{% static 'js/DataTables-1.10.0/extensions/TableTools/swf/copy_csv_xls_pdf.swf'%}",
        "aButtons": [
             {
                "sExtends": "xls",
                "sButtonText": " Excel ",
                "oSelectorOpts": {
                    page: 'current'
                }
            },
             {
                "sExtends": "pdf",
                "sButtonText": " pdf ",
                "oSelectorOpts": {
                    page: 'current'
                }
            },  
            {
                "sExtends": "copy",
                "sButtonText": "Copy to clipboard",
                "oSelectorOpts": {
                    page: 'current'
                }
            }
        ]
  },
  "bAutoWidth" : false,
  }
  );


});

</script>




      

<br/>
<div id='datatable_wrapper'>
  <form action='/ltfu/view_reason_missed_appt' method='post' id='reason_missed_appt_form'> 
    {% csrf_token %}
    <table>
      <tr>
	<td>start date</td>
	<td><input type='text' name='start_date' value='{{start_date}}'/></td>
	<td>end date:</td>
	<td><input type='text' name='end_date' value='{{end_date}}'/></td>
	<td>location_ids</td>
	<td><input type='text' name='location_ids' value='{{location_ids}}'/></td>
	<td><input type='submit'></td>
      </tr>	  
    </table>
  </form>  
<hr/>
<b>Total Times Asked: {{times_asked}}</b>
<table id='reason_missed_appt_table' class="displays">
  <thead>
    <tr>
	<th class="gradeA">Reason</th>
	<th class="gradeA">Count</th>
	<th class="gradeA">% of time</th>
    </tr>
  </thead>
  <tbody>
    {% for row in reason_missed_appt %}
    <tr>
      <td>{{row.name}}</td>
      <td>{{row.count}}</td>
      <td>{{row.count|percentage:times_asked}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>



{% endblock %}
