{% extends "ltfu/base.html" %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" language="javascript" src="{% static 'js/flot/jquery.flot.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.js'%}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/DataTables-1.10.0/extensions/TableTools/js/dataTables.tableTools.js'%}"></script>
  <style type="text/css" title="currentStyle">
    @import "{% static 'js/DataTables-1.10.0/extensions/TableTools/css/dataTables.tableTools.css'%}";
    @import "{% static 'js/DataTables-1.10.0/plugins/datatables.columnfilter.css' %}";
  </style>

<script type="text/javascript">


function view_retro_defaulter_list() {
  var select = document.getElementById('retro_defaulter_list_select');
  var value = select.options[select.selectedIndex].value;
  var link = '/ltfu/retrospective_data_entry?location_id=' + value;
  if(value != '') {
      window.location = link;
  }
  else { alert('You must first select a clinic'); }
}


$(document).ready(function() {

  $('#report').dataTable( {
  "width":"100%",
  "sScrollY": "250px",
  "bJQueryUI": true,
  "bPaginate": false,
  "bLengthChange": false,
  "bFilter": true,
  "bSort": true,
  "bInfo": false,
  "bAutoWidth" : false,
  });


});

</script>

<script type="text/javascript">


function view_defaulter_list() {
  var form = document.getElementById('defaulter_list_form');
  var select = document.getElementById('defaulter_list_select');
  var value = select.options[select.selectedIndex].value;
  var link = '/ltfu/retrospective_data_entry?location_id=' + value;
  window.location = link;

}

</script>

<br/>
<a href='/ltfu/outreach_worker'>Return to Outreach Dashboard</a><br/>
<table>  
  <tr>
    <form action='/ltfu/retrospective_data_entry' method='post' id='defaulter_list_form'> {% csrf_token %}
      <td><b>Choose another clinic:</b></td>
      <td>
	<select name='location_id' id='retro_defaulter_list_select'>
	  <option value=''></option>
	  {% for dc in defaulter_cohorts %}
	  <option value='{{dc.location_id}}'>{{dc.name}}</option>
	  {% endfor %}
	</select>
      </td>
      <td><input type='button' onClick='view_retro_defaulter_list()'  value='View'/></td>
    </form>    
  </tr>
</table>

<hr/>
      

<br/>
<div id='datatable_wrapper'>
<h3> Retrospective Data Entry: {% if location_group%}{{location_group.name}}{%else%}{{location.name}}{%endif%} </h3>
Cohort Last Updated: {{defaulter_cohort.date_updated}}

<table id='report' class="displays">
  <thead>
    <tr>
	<th class="gradeA"></th>
	<th class="gradeA">Name</th>
	<th class="gradeA">AMRS ID</th>
	<th class="gradeA">Risk Cat</th>
	<th class="gradeA">last enc date</th>
	<th class="gradeA">enc type</th>
	<th class="gradeA">rtc date</th>
	<th class="gradeA">days from rtc date</th>
    </tr>
  </thead>

    <!--tfoot>
      <tr>
	<th></th>
	<th>ID</th>
	<th>AMRS ID</th>
	<th>Risk Category</th>
	<th>last enc date</th>
	<th>encounter type</th>
	<th>rtc date</th>
	<th>days from rtc date</th>
      </tr>
    </tfoot-->
 
  <tbody>
    {% for row in ltfu_by_range %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><a href='/ltfu/outreach_form?patient_uuid={{row.uuid}}&location_uuid={{location.uuid}}&type=retrospective'>{{row.person_name}}</a></td>
      <td>{{row.identifier}}</td>
      <td>{{row.risk_category}}</td>
      <td>{{row.encounter_datetime}}</td>
      <td>{{row.name}}</td>
      <td>{% if row.rtc_date%} {{row.rtc_date}} {%endif%}</td>
      <td>{% if row.days_since_rtc %}{{row.days_since_rtc}} {%endif%}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>

<br/><br/>
<h3>Summary Statistics</h3>
<table border='1'>
  <tr><td><b>Total</b></td><td>{{counts.total}}</td></tr>
  <tr><td><b>Being Traced</b></td><td>{{counts.tracing}}</td></tr>
  <tr><td><b>High Risk</b></td><td>{{counts.high}}</td></tr>
  <tr><td><b>Medium Risk</b></td><td>{{counts.medium}}</td></tr>
  <tr><td><b>Low Risk</b></td><td>{{counts.low}}</td></tr>
  <tr><td><b>No RTC Date</b></td><td>{{counts.no_rtc_date}}</td></tr>
  <tr><td><b>LTFU</b></td><td>{{counts.LTFU}}</td></tr>
  <tr><td><b>On List > 2 wks</b></td><td>{{counts.on_list_two_weeks}}</td></tr>
  
</table>

</div>



{% endblock %}
