{% load staticfiles %}

<!--html manifest="{% static 'amrs_reports/ltfu.manifest' %}"-->
<html>

<head>
  <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js'%}"></script>  

  <script type="text/javascript" src="{% static 'js/jquery.mobile-1.4.4/jquery.mobile-1.4.4.js'%}"></script>  
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery.mobile-1.4.4/jquery.mobile-1.4.4.css'%}" />     
  
  <meta content='initial-scale=0.25, maximum-scale=0.25, user-scalable=no' name='viewport' />   
  <link type="text/css" rel="stylesheet" href="{% static 'amrs_reports/css/mobile_huawei.css'%}" />

  <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.datepicker/js/jquery-ui-1.10.4.custom.min.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.10.4.datepicker/css/ui-lightness/jquery-ui-1.10.4.custom.min.css'%}" />
  <script type="text/javascript" src="{% static 'js/jquery-validation-1.13.0/dist/jquery.validate.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'amrs_reports/js/outreach_form.js' %}"></script>

<script>

  function createDefaulterCohort(location_uuid) {
     if(confirm('This will retire the current list. Are you sure you want to create a new defaulter list?')) {
         window.location = '/ltfu/create_defaulter_cohort?location_uuid=' + location_uuid;
     }
  }


  window.applicationCache.addEventListener('updateready',function() {
     window.applicationCache.swapCache();
     alert('Cache updated');
     window.location.reload();
  },false);


  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }


  $(document).ready(function() {
     var csrftoken = getCookie('csrftoken');
     $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
     });
     
     $("#defaulter_list_btn").click(function() {		
          var id = $("#defaulter_cohort").val();
          var cohort = localStorage.getItem("defaulter_cohort_id_" + id);
          if(cohort === null) {
              var d = {defaulter_cohort_id:$("#defaulter_cohort").val()};
              $.ajax({
                       type: "POST",
                       url: "/ltfu/ajax_get_defaulter_cohort",
                       data: d,
                       dataType: "json",
                       success: onSuccessGetDefaulterCohort,
                       error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + errmsg);
                       }
              });
          }
          else {
             defaulterCohortToList("defaulter_cohort_id_" + id);    
          }          
      });


      function onSuccessGetDefaulterCohort(response) {                    
          var d = {name:response["name"], date_created:response["date_created"],location_uuid:response["location_uuid"]};
          var patients = {};
          for(var i=0; i< response["patients"].length; i++) {
              var row = response["patients"][i];
              var uuid = row["patient_uuid"];
              patients[uuid] = row;
          }
          d["patients"] = patients;
          var key = "defaulter_cohort_id_" + response["id"];
          localStorage.setItem(key,JSON.stringify(d));
          defaulterCohortToList(key);
      }
   

      //key : defaulter_cohort_id_NN
      function defaulterCohortToList(key) {
         $("#defaulter_cohort_list").empty();
         console.log('getting cohort id: ' + key);
               
         var cohort = JSON.parse(localStorage.getItem(key));
         var patients = cohort["patients"];
         for(var uuid in patients) {           
            var row = patients[uuid];
            var s = "<li";
            if(row['retired']) {
               s += " class='retired'";
            }            
            s += "><a onClick=\"viewPatientDashboard('" + row["patient_uuid"] + "','" + key + "')\">";
            s += row["family_name"] + ", " + row["given_name"] + " " + row["middle_name"] + "<br/>";
            s += row["identifier"] + "<br/>";
            s += "Phone: " + row["phone_number"];
            $("#defaulter_cohort_list").append(s).listview("refresh");    	  
          }
          $("#list_location_uuid").val(cohort["location_uuid"]);
			  console.log("location_uuid: " + $("#list_location_uuid").val());
          var id = key.substring(key.lastIndexOf("_")+1)
          $("#list_defaulter_cohort_id").val(id);

      }

     $("#process_offline_forms_btn").click(function() {
          if(navigator.onLine){
              u_forms = localStorage.getItem("unsubmitted_forms");
              if(u_forms === null) {
                          alert("There are no forms to process.");
              }
              else {
                 u_forms = JSON.parse(u_forms);
                 for(var i=0; i < u_forms.length; i++) {
                     form_data = u_forms[i];
                     response = submitForm(form_data);
                 }
              }
           }
           else {
              alert('You are currently offline. You must be online to process saved forms');
           }                     
     });

    

     $("#outreach_form_btn").click(function() {
        var d = getFormData($("#outreach_form"));

	if(navigator.onLine){
          console.log('online');                    
          console.log(JSON.stringify(d));
          $.ajax({
                       type: "POST",
                       url: "",
                       data: d,
                       dataType: "json",
                       success: onSuccessSubmitOutreachForm,
                       error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + errmsg);
                       }
          });
        } else {
          console.log("offline");
    	  var u_forms = localStorage.getItem("unsubmitted_forms");
          if(u_forms === null) {
             u_forms = [];
             console.log("Creating new unsubmitted_forms array");
          }
          else {
             u_forms = JSON.parse(u_forms);
             console.log("Loaded unsubmitted_forms array");
          }
          u_forms.push(JSON.stringify(d));
          localStorage.setItem("unsubmitted_forms",JSON.stringify(u_forms));
          alert("You are working offline. This form has been saved for later processing");
        }
        $("#outreach_form").trigger("reset");
        viewDefaulterCohortList();       


      });

      function onSuccessSubmitOutreachForm(response) {
	console.log('Response From Server: ' + response);
      }



      
   });

function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        if(n['value'] !== '') {
            indexed_array[n['name']] = n['value'];
        }
    });

    return indexed_array;
}

   function viewPatientDashboard(uuid,key) {
      console.log('method: viewPatientDashboard; patient_uuid=' + uuid + ' cohort = ' + key);
      $("#patient_dashboard_view").css("display","inline");
      $("#defaulter_cohort_view").css("display","none");
      $("#outreach_form_view").css("display","none");			  
  
      var cohort = JSON.parse(localStorage[key]);
      var patient = cohort["patients"][uuid];
      console.log("Patient Info: " + JSON.stringify(patient));
      $("#dash_patient_name").text(patient["given_name"] + " " + patient["middle_name"] + " " + patient["family_name"]);
      $("#dash_identifier").text(patient["identifier"]);
      $("#dash_birthdate").text(patient["birthdate"].substring(0,10));
      $("#dash_phone_number").val(patient["phone_number"]);
      $("#dash_patient_uuid").val(patient["patient_uuid"]);
      $("#dash_cohort_key").val(key);			  
   }
   
   function viewDefaulterCohortList(){
      $("#patient_dashboard_view").css("display","none");
      $("#defaulter_cohort_view").css("display","inline");
      $("#outreach_form_view").css("display","none");			  
   }

   function viewOutreachForm(){
      $("#patient_dashboard_view").css("display","none");
      $("#defaulter_cohort_view").css("display","none");
      $("#outreach_form_view").css("display","inline");	

      patient_uuid = $("#dash_patient_uuid").val();
      cohort_key = $("#dash_cohort_key").val();
      console.log("Outreach Form : patient_uuid = " + patient_uuid + "; cohort_key: " + cohort_key);

      var cohort = JSON.parse(localStorage.getItem(cohort_key));
      patient = cohort["patients"][patient_uuid];	
      console.log(patient);

      $("#return_to_dashboard").attr("onClick","viewPatientDashboard('" + patient["patient_uuid"] + "')");
      $("#form_patient_uuid").val(patient_uuid);
      $("#form_location_uuid").val($("#list_location_uuid").val());		  
      $("#form_defaulter_cohort_id").val($("list_defaulter_cohort_id").val());		  

      $("#form_given_name").val(patient["given_name"]);
      $("#form_middle_name").val(patient["middle_name"]);
      $("#form_family_name").val(patient["family_name"]);
      $("#form_phone_number").val(patient["phone_number"]);
      $("#form_gender").val(patient["gender"]);
      $("#form_birthdate").val(patient["phone_number"]);
      $("#form_identifier").val(patient["identifier"]);			  
      $("#form_missed_return_visit_date").val(patient["last_rtc_date"]);
      $("#form_last_encounter_date").val(patient["last_encounter_date"]);
      $("#form_last_encounter_type").val(patient["last_encounter_type"]);

      var t = new Date()
      $("#encounter_datetime").val($.datepicker.formatDate('yy-mm-dd',new Date())); 
      $("#encounter_datetime").datepicker({dateFormat:'yy-mm-dd'});

   }

   
  </script>
</head>

<body>

  <div id="apps_view">
  </div>

  <div id='defaulter_cohort_view'>
    <input type="hidden" id="list_defaulter_cohort_id"/>
    <input type="hidden" id="list_location_uuid"/>
    <select id='defaulter_cohort'>
      {% for dc in defaulter_cohorts %}
      <option value='{{dc.id}}'>{{dc.name}}</option>
      {%endfor%}
    </select>

    
    <span id='defaulter_cohort_name'/><br/>
    <span id='date_created'/><br/>
    <span id='num_remaining'/><br/>
    <input type='button' value='Get Defaulter List' id='defaulter_list_btn'/>    
    
    <input type='button' name='create_defaulter_cohort' id='create_defaulter_cohort' value='Get New list' onClick='createDefaulterCohort()'/>
    
    <ul data-role="listview" data-filter="true" id="defaulter_cohort_list">
    </ul>
  </div>


  <div id="patient_dashboard_view" style="display:none">
     {% include "ltfu/patient_dashboard.html" %}
  </div>


  <div id="outreach_form_view" style="display:none">
    {% include "ltfu/outreach_form.html" %}
  </div>


</body>
