{% extends "ltfu/base.html" %}
{% load staticfiles %}
{% load ltfu_filters %}

{% block content %}

<link type="text/css" rel="stylesheet" href="{% static 'amrs_reports/css/table.css'%}">
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


  $(document).ready(function() {

   var patients_table = $('#patients').DataTable( {
       "sScrollY": "100px",
       "bJQueryUI": true,
       "bPaginate": false,
       "bLengthChange": false,
       "bFilter": true,
       "bSort": true,
       "bInfo": false,
       "bAutoWidth": true,});


   var encounters_table = $('#encounters').DataTable( {
       "columns": [{"type":"date"},null],
       "sScrollY": "100px",
       "bJQueryUI": true,
       "bPaginate": false,
       "bLengthChange": false,
       "bFilter": true,
       "bSort": true,
       "bInfo": false,
       "bAutoWidth": true,});
			    
   var csrftoken = getCookie('csrftoken');
   $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
   });

   function patientSearch() {
        var d = {search_string:$("#search_string").val()};
        $.ajax({
        type: "POST",
        url: "/ltfu/ajax_patient_search",
        data: d,
        dataType: "json",
        success: OnSuccessPatientSearch,
        failure: function() {
            alert('failed');
        },
        error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
        });
   }


   function encounterSearch(patient_uuid) {
        var d = {patient_uuid:patient_uuid};       
        $.ajax({
        type: "POST",
        url: "/ltfu/ajax_encounter_search",
        data: d,
        dataType: "json",
        success: OnSuccessEncounterSearch,
        failure: function() {
            alert('failed');
        },
        error : function(xhr,errmsg,err) {
                                $('#error').text(xhr.responseText);
                            }
        });
   }

   function OnSuccessPatientSearch(response) { 
     patients_table.clear().draw();
     encounters_table.clear().draw();
     $('#patient_name').text('');
     $('#error').text('');

     for(var i=0; i<response.length;i++) {
         var row =  response[i];
         var data = [row['given_name'],row['family_name'],row['middle_name'],row['gender'],row['birthdate'],row['identifier'],row['phone_number']];
	 patients_table.row.add(data).draw();
         var i = $('#patients tbody tr').length -1;      
         var node = $('#patients').dataTable().fnSettings().aoData[i].nTr;
         node.setAttribute('patient_uuid',row['uuid']);
         
     }
  }




   function OnSuccessEncounterSearch(response) {
     encounters_table.clear().draw();
     for(var i=0; i<response.length;i++) {
         var row = response[i];
         encounters_table.row.add([row['encounter_date'],row['encounter_type']]).draw();
     }
  }

   $('#search_string').keyup(function() {
      patientSearch();
   });


   $('#patients').on("click","tr",function(e) {
        encounterSearch($(this).attr('patient_uuid'));
        var given_name = $(this).find('td').eq(0).text();
	var family_name = $(this).find('td').eq(1).text();
	var middle_name = $(this).find('td').eq(2).text();

        $('#patient_name').text(given_name + ' ' + middle_name + ' ' + family_name);
    });


     


});
</script>


<input type='text' name='search_string' id='search_string'/>
<table id='patients'>
  <thead>
    <tr>
      <td style='width:135px;'>Given Name</td>
      <td style='width:135px;'>Family Name</td>
      <td style='width:135px;'>Other Names</td>
      <td style='width:135px;'>Gender</td>
      <td style='width:135px;'>Birthdate</td>
      <td style='width:135px;'>Identifiers</td>
      <td style='width:135px;'>Phone</td>
    </tr> 
  </thead>
  <tbody>
  </tbody>
</table>

<br/>
<hr/>
<br/>

<h3>Patient: <span id='patient_name'></span></h3>
<h3>Encounters</h3>

  <table id='encounters'>
    <thead>
      <tr>
	<td>Encounter Date</td>
	<td>Encouter Type</td>
      </tr>
    </thead>
    <tbody/>
  </table>


<span id='error'></span>
{%endblock%}
