{% extends "ltfu/base_mobile.html" %}
{% load staticfiles %}
{% load ltfu_filters %}

{% block content %}
<script>

$(document).ready(function () {

  //For unclear reason the a href was not working directly has the following
  $('#form_link').click(function() {
     var d_id = $('#form_link').attr('d_id');
     var p_id = $('#form_link').attr('p_id');
     if(d_id != "") {
         window.location = '/ltfu/outreach_form?defaulter_cohort_member_id=' + d_id;
     }
     else {
         window.location = '/ltfu/outreach_form?patient_uuid=' + p_id;
     }
  });
});

</script>


<span class='large-font'>
{{patient.given_name}} {{patient.middle_name}} {{patient.family_name}}<br/>
Phone: {{patient.phone_number}}<br/>
Last Encounter : {{patient.last_encounter_date}} : {{patient.last_encounter_type}} <br/>
Last RTC Date : {{patient.last_rtc_date}} ({{patient.days_since_rtc_date}} days since last RTC date)<br/>
</span>
{% if patient.next_encounter_date %}
<b>This patient had a {{patient.next_encounter_type}} encounter on {{patient.next_encounter_date}}</b>
{%endif%}

<ul data-role="listview">
  <li><a id="form_link" d_id="{{patient.defaulter_cohort_member_id}}" p_id="{{patient.uuid}}" href="#">Enter Outreach Form</a></li>
</ul>
{% endblock %}
