
    <input type="hidden" name="patient_uuid" id="dash_patient_uuid"/>
    <input type="hidden" name="dash_cohort_key" id="dash_cohort_key"/>

    <input type="button" onClick="defaulterCohortListView()" value="Back" id="dash_back_button"/>
    <ul data-role="listview">
      <li data-role="header">
	<span id="dash_patient_name"></span>
      </li>
      <li style="font-size:large">Identifier(s):<span id="dash_identifier"></span></li>
      <li style="font-size:large">Birthdate: <span id="dash_birthdate"></span></li>
      <li data-role="fieldcontain">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="font-size:large;width:100%;">Phone Number:</div>
	  <div class='ui-block-a' style="width:50%"><input style="font-size:large;" name="phone_number" id="dash_phone_number" type="tel" size="10"/></div>	
	  <div class='ui-block-b' style="width:50%">
	    <input type='hidden' id='dash_patient_uuid'/>
	    <input type="button" id="update_phone_number_button" onClick="updatePhoneNumberView()" value="Update"/>
	  </div>
	</div>
      </li>
      <li style="font-size:large">
	Last Appt Date: <span id="dash_last_encounter_date"></span><br/>
	Last Appt Type: <span id="dash_last_encounter_type"></span><br/>
	Last RTC Date: <span id="dash_last_rtc_date"></span><br/>	
      </li>	
    </ul>
    
    <div data-role='collapsible' id="encounter_history_div">
      <h2>Encounter History</h2>        
      <div id="dash_encounter_data" style="height:350px; overflow:scroll;display:none">
      </div>      
    </div>

    <div data-role='collapsible' id="tb_history_div">
      <h3>TB History</h2>              
      <div id="dash_tb_data" style="height:350px; overflow:scroll; display:none">
      </div>

    </div>

    <div data-role='collapsible'>
      <h3>Forms</h2>
      <ul data-role="listview">
	<li><a id="form_link" d_id="" p_id="" onClick="outreachFormView()">Enter Outreach Form</a></li>
      </ul>
    </div>

<script>
  $(document).ready(function() {
  $('#encounter_history_div').on('collapsibleexpand', function () {
        getEncounterDataView();
  });
  $('#tb_history_div').on('collapsibleexpand', function () {
        getEncounterDataView();
  });
  

  });

</script>
